
@use "sass:map";
@use "sass:string";

// Animations is a map from the animation-name to a list of the options.
// Animation-name e.g. being "fade" or "slide"
@mixin animation($animations){
    $transitions: "";
    @each $anim, $options in $animations{
        @if ($anim == "fade"){
            $transitions: string.insert($transitions, ", opacity 1s", -1);

            opacity: 0;
            &[data-animation-show]{
                opacity: 1;
            }
        } @else if ($anim == "slide"){
            $transitions: string.insert($transitions, ", transform 1s", -1);

            transform: translateX(-100%);

            &[data-animation-show]{
                transform: none;
            }
        }
    }
    transition: #{string.slice($transitions, 3, -1)};
}

@media(prefers-reduced-motion){
    .animation{
        transition-duration: 0;
    }
}
