
.transition{
    transition: all 1s;
    &[data-transition-animation-fade]{
        opacity: 0;

        &[data-transition-show]{
            opacity: 1;
        }
    }

    &[data-transition-animation-slide]{

        &[data-transition-animation-slide="right"]{
            transform: translate(-100%, 0);
        }

        &[data-transition-show]{
            transform: translate(0, 0);
        }
    }

    @for $i from 0 through 9{
        &[data-transition-order-#{$i}]{
            transition-delay: #{$i * 0.2}s;
        }
    }
}

@media(prefers-reduced-motion){
    .transition{
        transition-duration: 0;
    }
}
