
$primary-color: #080e07;
$secondary-color: #D6EFFF;
$tertiary-color: #38BC76; // B2FFA9

$primary-text-color: #fff;   // The text color that should be used on the primary color
$secondary-text-color: #000; // The text color that should be used on the secondary-color
