
@use "../components/animations";
@use "../core/variables" as v;
@use "sass:math";

#hero{
    $first-animation-duration: 1s;
    $element-space: 75px;
    $element-space-half: math.div($element-space, 2);

    width: 100%;
    min-height: 100vh;
    margin-top: $element-space;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: $element-space-half;

    font-size: 2em;

    #hero-image{
        border-radius: 50%;
        width: 150px;
        height: auto;

        @include animations.transition((
            opacity: (0, 1),
            transform: (scale(0.9), none),
            filter: (blur(2px), none),
        ), (
            "duration": $first-animation-duration
        ), $begin-on-start: true)
    }

    #hero-info-container{
        display: inline-flex;
        width: fit-content;
        flex-flow: column nowrap;
        gap: $element-space;
    }

    #hero-name{
        @include animations.transition((
            opacity: (0, 1),
            transform: (translateY(-100%), none),
            filter: (blur(4px), none),
        ), (
            "duration": $first-animation-duration
        ), $begin-on-start: true);

        font-size: 1.4em;
        margin: 0;
    }

    #hero-sections{
        display: grid;
        gap: $element-space-half;

        width: max(75%, 200px);

        margin: 0 auto;
        padding: 0;

        list-style-type: none;
        
        text-align: center;

        li{
            @include animations.transition((
                opacity: (0, 1, (
                    "delay": $first-animation-duration + (0.1*$first-animation-duration) // Hide the start of the transform animation which can be a bit rough
                )),
                transform: (translateX(-100%), none),
            ), (
                "delay": $first-animation-duration,
            ), $begin-on-start: true);
        }

        a{
            text-decoration: none;
            color: v.$primary-text-color;

            display: block;

            background-color: rgba(v.$tertiary-color, 0);
            padding: 5px 20px;
            border: 1px solid #0000;
            border-radius: 10px;
            border-right-color: #aaa;
            border-left-color: #aaa;
            transition: 250ms ease-in-out;

            &:hover{
                background-color: v.$tertiary-color;
                border-color: v.$tertiary-color;
                border-radius: 50px;
            }
        }
    }
}

section {
  h2 {
    border: 1px solid #0000;
    /* border-right-color: #aaa; */
    border-bottom-color: rgba(255, 255, 255, 0.3);
    transition: 250ms ease-in-out;

    width: fit-content;
    padding: 0.5rem 2rem;
    margin: auto;
  }

  &:hover {
    h2 {
      /* border-right-color: v.$tertiary-color; */
      border-bottom-color: v.$tertiary-color;
    }
  }
}

::view-transition-old(headshot),
::view-transition-new(headshot),
::view-transition-old(name),
::view-transition-new(name) {
    animation-duration: 5000ms;
}
