
@use "../components/animations";
@use "../core/variables" as v;

#hero{
    width: 100%;
    height: 100vh;

    overflow-y: hidden;
}

#hero > div{
    $top-margin: 50px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 50px;

    margin: 0 50px;
    font-size: 2em;

    #hero-sections{
        display: flex;
        flex-flow: column nowrap;
        gap: 30px;

        margin: 0;
        margin-top: $top-margin;
        padding: 0;

        list-style-type: none;
        
        text-align: center;

        li{
            @include animations.animation(("fade": (), "slide": ("horizontal": -100%)));
        }

        a{
            text-decoration: none;
            color: v.$primary-text-color;

            display: block;

            background-color: rgba(v.$tertiary-color, 0);
            padding: 5px 20px;
            border: 1px solid #0000;
            border-radius: 10px;
            border-right-color: #aaa;
            border-left-color: #aaa;
            transition: 250ms ease-in-out;

            &:hover{
                background-color: v.$tertiary-color;
                border-color: v.$tertiary-color;
                border-radius: 50px;
            }
        }
    }

    #hero-image{
        height: auto;
        width: 30%;
        flex-shrink: 2;
    }

    #hero-description{
        margin-top: $top-margin;
        flex-grow: 2;
        
        p{
            margin: 0;
        }
    }
}
