
@use "core/normalize";
@use "core/variables" as v;

@font-face {
    font-family: "Gudea";
    src: url("/fonts/Gudea-Regular.ttf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("/fonts/BebasNeue-Regular.ttf");
}

html, body{
  background-color: v.$primary-color;
  color: v.$primary-text-color;
  font-family: "Gudea";
  font-size: 1.1rem;
}

h1, h2 {
  font-family: "Bebas Neue";
  letter-spacing: 2px;
}

body {
  width: min(60rem, 98%);
  margin: auto;
  line-height: 1.4;
  text-align: justify;

  > section {
    margin-bottom: 5rem;
  }
}

h1, h2{
  text-align: center;
}
